.c-menu {
  padding: 20px;

  h1 {
    display: inline-block;
    color: $white;
    font-family: $font-primary;
  }

  span {
    display: inline-block;
    color: $white;
    font-family: $font-primary;
    font-size: 12px;
  }
}
